.comparisonSubstrate
{
    position: fixed;
    display:none;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 0;
}


.comparisonButton{
    --color-sport: rgba(10, 255, 10, 0.7);
    --color-rat: rgba(253, 23, 23, 0.7);
    --color-super: rgba(255, 56, 205, 0.7);
    --color-wild: rgba(9, 4, 248, 0.7);
    --boxShadow-color: green;
    display:flex;
    position: relative;
    font-family: 'bad-boys';
    width: 50%;
    height: 40%;   
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    outline: 2px double var(--boxShadow-color);
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
    font-size: 2rem;
    transition:0.5s;
}
.compPseudo{
    position: absolute;
    content: ' \21C6';
    width: 20%;
    height:100%;
    top:0;
    right:-20%;  
    color: var(--boxShadow-color);
    text-shadow: 1px 1px grey;
    line-height: 2.3rem;
    font-size: 2.3rem;
    transition: 0.5s;
}
.comparisonButton:hover .compPseudo{
    right:0%;
    transition: 0.3s ease-in-out;
    
}

.comparisonButton:hover {
    transition: 0.5s;
    box-shadow:0px 0px  5px 5px var(--boxShadow-color);
}



.comparisonContaier{
    position: absolute;
    top:0;
    left:101%;
    background-color: white;

    display:flex;
    justify-content: space-around;

    height:100%;
    width:100%;
    overflow: hidden;
    z-index: 1;
}

.comparisonOneContainer, .comparisonTwoContainer {
    position: relative;
    width:282px;
    max-width:282px;
    height:100%;
    top:0;
    transition: 1s;
}
.comparisonResult, .comparisonStatName{
    position: relative;
    display:flex;
    width: 120px;
    height:100%;
}

.comparisonInnerContainer{
    position: relative;
    width:100%;
    max-width: 100%;
    height:100%;   
}
.topButtonContainer, .bottomButtonContainer{
    height: 3%;
    display:flex;
    justify-content: space-around;
    position:absolute;
    z-index: 2;
}
.topButtonContainer{
    top:0;
    width:100%;
}
.bottomButtonContainer{
    bottom:0;
    width:100%;

}

.buttonSpaceFiller1, .buttonSpaceFiller2{
    position: relative;
    width: 120px;
    height:100%;
}

.buttonScrollDown, .buttonScrollTop{
    position:relative;
    box-sizing: border-box;
    height:100%;
    width:282px;
    border: 1px solid black;
    border-bottom: none;
    cursor: pointer;
 
}

.buttonScrollDown span{
    display:block;
    width:100%;
    height: 100%;
    background-image: url('img/expandArrow.svg'), linear-gradient(grey, black);
    background-size:contain;
}
.buttonScrollTop span{
    display:block;
    width:100%;
    height: 100%;
    transform: rotate(180deg);
    background-image: url('img/expandArrow.svg'), linear-gradient(180deg,grey, black);
    background-size:contain;
}
.buttonScrollDown{
    border-top:none;
    
}

.comparsionTwo{
    position:absolute;
    box-sizing: border-box;
    height:100%;
    width:100%;
}
.marginDiv{
    height:3%;
    width:100%;
}
.comparisonWrapper{
    display: flex;
    flex-flow:column wrap;
    height:94%;
    width:100%;
}


.comparisonWrapper div:nth-child(n+2):not(.arrowDiv, .spacer){
    flex:1;
    box-sizing: border-box;
    border:1px solid black;
}
.compBikeImage{
    height:220px;
}

