body{
    width: 900px;
    height: 1080px;
    margin: 2em auto;
    position: relative;
    padding: 0;
   /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: 1em;
    background-color: rgba(207, 204, 204, 0.151);
}
.container{
    box-sizing: border-box;
    margin-top: 2em;
    min-height: 65%;
    min-width: 100%;
    border:1px solid transparent;
    }
    
    
    h1{
        text-align: center;
        text-shadow: 0.05em 0.05em grey;
        font-size:2em;
        margin:0;
        padding:0;
    }
    
    p{
        font-size:1.2em;
    }
    
    p::first-letter{
        padding-left: 1em;
    }
    